body,
html {
		width: 100%;
		height: 100%;
	    font-family: 'Raleway', sans-serif;
	
	    background: url("stickbug.gif") no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
}


h1 {
	  color: #88b7ea;
	  font-size: 4rem;
	  text-shadow: 2px 2px #407CBF;
}

.btn-xl {
	color: #88b7ea;
}

.btn-xl:hover {
	color: #88b7ea;
}

.btn-xl:focus
{

    color: #88b7ea;
}

.btn-xl:active
{

    color: #88b7ea;
}

hr {
	border-color: #88b7ea;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 13rem;
}