/* Add your CSS styles here */
.hidden {
    display: none;
}

.api-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.api-button:focus {
    outline: none;
}

.api-button:hover {
    background-color: #0056b3;
}

.api-button.clicked {
    opacity: 0.6;
}

