body {
  margin: 0 auto;
  max-width: 900px;
  background-image: url('https://pm1.aminoapps.com/6041/6af8872f52f7555a50ad49975a4c4595b4031772_hq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}



